.app{
  min-height:100vh;
}


.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#1e3a8a;
  color:rgb(17, 7, 7);
}


.links{
    background:white;
  color:black;
  display:flex;
  gap:25px;
}


.links a{
  color:rgb(17, 8, 8);
  text-decoration:none;
  font-size:18px;
}


.links a:hover{
  color:#ffd700;
}


.home{
  text-align:center;
  margin-top:100px;
}
