.app{
  min-height:100vh;
}


.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#1e3a8a;
  color:rgb(17, 7, 7);
}


.links{
    background:white;
  color:black;
  display:flex;
  gap:25px;
}


.links a{
  color:rgb(17, 8, 8);
  text-decoration:none;
  font-size:18px;
}


.links a:hover{
  color:#ffd700;
}


.home{
  text-align:center;
  margin-top:100px;
}
body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

.dashboard{
display:flex;
}

.main{
flex:1;
padding:20px;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:20px;
}

.schedule{
margin-top:40px;
background:white;
padding:20px;
border-radius:10px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
text-align:left;
}