body {
  margin: 0;
  background: #f4f6f9;
  font-family: Arial, sans-serif;
}

.home-container {
  text-align: center;
  padding: 60px 20px;
}

.home-container h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.home-container p {
  color: #666;
  margin-bottom: 40px;
}

.module-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  margin: auto;
}

.module-card {
  text-decoration: none;
  background: white;
  color: #2c3e50;
  padding: 18px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.module-card:hover {
  background: #2563eb;
  color: white;
  transform: scale(1.03);
}