.stat-card{

background:white;
padding:25px;
border-radius:18px;
box-shadow:0 5px 20px rgba(0,0,0,.08);
position:relative;
overflow:hidden;
transition:.3s;

}

.stat-card:hover{

transform:translateY(-5px);

}

.circle{

width:50px;
height:50px;
border-radius:50%;
margin-bottom:15px;

}

.stat-card h3{

font-size:34px;
color:#1d3557;

}

.stat-card p{

color:#666;
margin-top:8px;

}